$bubble-height: 34px;

body {
  background: #fff;
  color: #fff;
  touch-action: manipulation;
}

.sound-list {
  margin-top: 12px;

  button {
    background: transparent;
    border: none;
    display: block;
    position: relative;
    text-align: left;
    height: auto;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    padding-left: 33px;
    width: 100%;

    .bubble {
      background: #E6E5EB;
      color: #000;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      border-radius: 16px;
      font-size: 15px;
      padding: 12px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 12px;
      padding-right: 15px;
      line-height: 20px;
      padding-left: $bubble-height + 5px;
      position: relative;
      z-index: 10;
      display: inline-block;

      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        bottom: 3px;
        border: 1px solid #0083F9;
        height: $bubble-height - 6px;
        width: $bubble-height - 6px;
        border-radius: 50%;
        z-index: 10;
      }

      &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 13px;
        border: 10px solid transparent;
        border-left-color: #0083F9;
        border-top-width: 7px;
        border-bottom-width: 7px;
        height: 0px;
        z-index: 10;
      }
    }

    &:active, &:focus, &:hover {
      background: transparent;
      transform: none;
    }

    &:hover {
      .bubble {
        background: darken(#E6E5EB, 2.5%);
      }

      .bubble-wrap:before {
        background: darken(#E6E5EB, 2.5%);
      }
    }

    .bubble-wrap {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        height: 20px;
        width: 28px;
        background: #E6E5EB;
        right: calc(100% - 12px);
        bottom: 0px;
        z-index: 3;
        border-radius: 50%;
        border-top-right-radius: 0px;
      }

      &:after {
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        background: #fff;
        right: calc(100% - 1px);
        bottom: 0px;
        z-index: 4;
        border-radius: 11px;
        border-top-right-radius: 0px;
      }
    }

    .avatar {
      position: absolute;
      left: 0px;
      bottom: -2px;
      width: 64px;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background: #555;
      background-size: contain;
      z-index: 10;

    }
  }
}
