$bubble-height: 34px;
$bubble-color: #E6E5EB;

body {
  background: #fff;
  color: #fff;
  touch-action: manipulation;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 82px;
  background: white(0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid black(0.1);
  box-shadow: inset 0px -1px 0px white(0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;

  .header-text {
    color: #222;
    font-size: 11px;
  }

  .avatar-list {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    left: -13px;
  }

  .avatar-wrap {
    width: 10px;
    position: relative;
    height: 38px;
  }

  .avatar {
    height: 38px;
    width: 38px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-size: cover;
    border: 2px solid #fff;
  }
}

.message-list {
  margin-top: 12px;
  max-width: 375px;
  margin: 0px auto;
  margin-top: 82px;
  padding-top: 10px;

  .button {
    background: transparent;
    border: none;
    display: block;
    position: relative;
    text-align: left;
    height: auto;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    padding-left: 34px;
    width: 100%;

    &.text {
      .bubble {
        padding-left: 12px;

      }
      .bubble:before, .bubble:after {
        display: none;
      }
    }

    .bubble {
      background: $bubble-color;
      color: #111;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      border-radius: 16px;
      font-size: 15px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 12px;
      padding-right: 15px;
      line-height: 20px;
      padding-left: $bubble-height + 5px;
      position: relative;
      z-index: 10;
      display: inline-block;

      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        bottom: 3px;
        border: 1px solid #0083F9;
        height: $bubble-height - 6px;
        width: $bubble-height - 6px;
        border-radius: 50%;
        z-index: 10;
      }

      &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 13px;
        border: 10px solid transparent;
        border-left-color: #0083F9;
        border-top-width: 7px;
        border-bottom-width: 7px;
        height: 0px;
        z-index: 10;
      }
    }

    &:active, &:focus, &:hover {
      background: transparent;
      transform: none;
    }

    &:hover {
      .bubble {
        background: darken($bubble-color, 2.5%);
      }

      .bubble-wrap:before {
        background: darken($bubble-color, 2.5%);
      }
    }

    .bubble-wrap {
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
      }

      &:before {
        z-index: 2;
        bottom: 1px;
        left: -7px;
        height: $bubble-height / 2;
        border-left: ($bubble-height / 2) solid $bubble-color;
        border-bottom-right-radius: 14px 8px;
      }


      &:after {
        z-index: 3;
        bottom: 1px;
        left: bl(-1);
        width: bl(1);
        height: $bubble-height / 2;
        background: white;
        border-bottom-right-radius: 7px;
      }

      /*
      &:before {
        content: '';
        position: absolute;
        height: 20px;
        width: 28px;
        background: $bubble-color;
        right: calc(100% - 12px);
        bottom: 0px;
        z-index: 3;
        border-radius: 50%;
        border-top-right-radius: 0px;
      }

      &:after {
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        background: #fff;
        right: calc(100% - 1px);
        bottom: 0px;
        z-index: 4;
        border-radius: 11px;
        border-top-right-radius: 0px;
      }
      */
    }

    .avatar {
      position: absolute;
      left: 0px;
      bottom: -2px;
      width: 64px;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background: #555;
      background-size: contain;
      z-index: 10;
    }
  }
}

.photo-message {
  padding-left: 34px;
  margin-left: 12px;

  img {
    max-width: 240px;
    border-radius: 16px;
    display: block;
    margin-bottom: 3px;
  }
}
